/*PALETAS DE COLORES DE LA PAGINA WEB*/
:root{
    --color-primario : #1E293B; /*AZUL MEDIANOCHE*/
    --color-secundario : #E0F2FE; /*AZUL GLACIAR*/
    --color-acento : #4ADE80; /*VERDE MENTA*/
    --color-fondo : #475569; /*AZUL ACERO*/
    --color-imagen : #0aa8ec;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--color-primario);
    font-family: "Datatype", monospace;
}

.nav-a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: bolder;
}

.nav-a:hover{
    color: var(--color-acento);
    border-bottom: 2px solid var(--color-acento);
    z-index: 1000;
}

.nav-container{
    width: 96%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: solid 2px rgba(255, 255, 255, 0.463);
    border-radius: 0 0 10px 10px;
}

.nav-container p{
    margin-left: 10px;
}

.main-container{
    display: flex;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--color-primario);
    color: whitesmoke;
}

.div-a-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.imagen-mia{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: solid 5px var(--color-acento);
    filter: drop-shadow(0px 0px 20px var(--color-acento));
}

.imagen-mia:hover{
    filter: drop-shadow(0px 0px 20px var(--color-imagen));
    border: solid 5px var(--color-imagen);
}

.div-container-img,.div-container-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nombre-p{
    color: var(--color-primario);
    font-size: 20px;
    font-weight: 900;
}

.apellido-p{
    color: var(--color-acento);
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
}

.div-container-info p, .div-container-info h1{
    text-align: center;
    margin-right: 20px;
}

.div-container-info p{
    font-size: 20px;
    color: gray;
    font-weight: 500;
}

.div-container-info h1{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.button-redes{
    background-color: var(--color-primario);
}

.imagen-redes{
    width: 100px;
    height: 100px;
    border: none;
    margin: 15px 10px 0 10px;
}

.imagen-redes:hover{
    filter: drop-shadow(0px 0px 15px var(--color-acento));
}

.section-container{
    width: 100%;
    height: 100dvh;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-sobremi{
    font-size: 35px;
    font-weight: 900;
}

.contenedor-imagen, .contenedor-info{
    width: 50%;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.texto-sobremi{
    margin-top: 10px;
    font-size: 25px;
    color: rgb(44, 43, 43);
}

.escritorio{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid var(--color-acento);
    filter: drop-shadow(0px 0px 15px var(--color-acento));
}

.escritorio:hover{
    border: 2px solid rgb(224, 103, 56);
    filter: drop-shadow(0px 0px 15px rgb(224, 103, 56));
}

.tecnologias-carrusel{
    width: 100%;
    height: 100dvh;
    background-color: var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
}